<html>
    <head>
    </head>
    <body>
    <form method="POST">
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <label>Server : </label>   
            <input type="text" placeholder="Enter Server URL" name="server" required>  
            <button type="submit">Login</button>  
        </div>   
    </form>
    </body>
</html>
