<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>XNAT Dashboards</title>
    <!-- Custom CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/dashboards/css/custom.css" rel="stylesheet">
    <link href="../../static/dashboards/css/custom_bootstrap_overite.css" rel="stylesheet">
</head>

<body class="skin-default-dark fixed-layout">
    <div id="main-wrapper" >
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    XNATDashboards
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item hidden-sm-up"> <a class="nav-link nav-toggler waves-effect waves-light" href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                        Asif Hashmi    
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="page-wrapper ">
            <div class="container-fluid ">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">DASHBOARD</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6" id='bigger'>
                        <div class="card">
                            <div class="card-body">
                                <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div id='myDiv1'><!-- Plotly chart will be drawn inside this DIV --></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            © 2020 XNAT Dashboards
        </footer>
    </div>    
    <script src="../../static/dashboards/js/bootstrap.min.js"></script>
    <script src="../../static/dashboards/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/dashboards/js/custom.js"></script>
</body>

</html>