<!DOCTYPE html>
<html lang="en">

<head>
  {% include  'head.html'  %}
</head>

<body class="skin-default-dark fixed-layout">
  <div id="main-wrapper">

    {% include  'navbar.html'  %}

    <aside class="left-sidebar">
      <div class="d-flex no-block nav-text-box align-items-center left_pane">
        Menu
        <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
        <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
      </div>
      <div class="scroll-sidebar">
        <nav class="sidebar-nav">
          <ul id="sidebarnav">

            <li id="main">
              <a class="waves-effect waves-dark" href="/dashboard/overview/" aria-expanded="false">
                <i class="fa fa-eye"></i>
                <span class="hide-menu">
                  General overview</span>
              </a>
            </li>

            <li id="projects">
              <a class="waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="fa fa-list"></i>
                <span class="hide-menu">Projects</span>
              </a>
            </li>

            <li id="overview">
              <a class="waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="fa fa-database"></i>
                <span class="hide-menu">Wiki</span>
              </a>
            </li>

            <div class="text-center m-t-30">
              <a href="{{url_for('dashboard.logout')}}" class="waves-effect waves-light btn btn-outline-danger"> logout </a>
            </div>
          </ul>
        </nav>
      </div>
    </aside>

    <div class="page-wrapper ">
      <div class="container-fluid">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor overview_part">Wiki</h4>
            <h4 class="text-themecolor project_part">Projects</h4>
          </div>
          <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
            </div>
          </div>
        </div>

        <div class="overview_part">
          {{wiki|safe}}
        </div>

      </div>

      {% include  'projects.html'  %}

    </div>

    {% include  'footer.html'  %}

  </div>


</body>

</html>
